* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: linen;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 4.1rem;
}

/* logo part */
.my-logo {
    position: relative;
    left: 16px;
}
.my-logo a {
    font-size: 2rem;
    padding: 5px;
}
.my-logo a:hover {
    color: red;
}

/* menu part */
.my-menus {
    position: relative;
    display: flex;
}
.my-menus div {
    padding: 5px 3px;
}
.my-menus div a {
    position: relative;
    font-size: 16px;
    padding: 5px 10px;
}
.my-menus div a:hover {
    color: red;
}

/* submenu part */
.my-menus ul {
    position: absolute;
    top: 35px;
    background-color: white;
    padding-bottom: 6px;
}
.list-item {
    visibility: hidden;
}
.list-item li {
    margin: 4px 16px;
}
.ls-1 {
    visibility: visible;
}
.ls-2 {
    visibility: visible;
}
.ls-3 {
    visibility: visible;
}
@media screen and (max-width: 768px) {
    header {
        display: block;
        height: 300px;
    }
    .my-menus {
        display: block;
    }
}
