<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AAS -- MANUU</title>
    <link rel="stylesheet" href="root.css">
    <link rel="stylesheet" href="landing.css">

    <!-- ============== Icons from Boxicons:  https://boxicons.com/ =================== -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <!-- ============================= Landing Page ============================= -->
    <div class="landing-container">
        <header>
            <%- include('./navbar/_nav.ejs') %>
        </header>

        <main>
            <div class="landing-sections">
                <div class="landing-left">
                    <h2>Welcome to AAS</h2>
                    <h4>An Attendance Automation System</h4>
                    <br>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum quos ad excepturi
                        dignissimos,
                        doloremque sint nisi adipisci sunt veniam.Natus, deleniti eligendi accusantium.
                    </p>

                    <br><br>
                    <a href="./login">
                        <button class="landing-login-btn">Login</button>
                    </a>
                </div>
                <div class="landing-right">
                    <img src="landing_image.svg" alt="landing image">
                </div>
            </div>
        </main>
    </div>
</body>

</html>