<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AAS -- Student</title>
    <link rel="stylesheet" href="root.css">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="intro_section.css">
    <link rel="stylesheet" href="attendance_section.css">

    <!-- ============== Icons from Boxicons:  https://boxicons.com/ =================== -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <%- include('./navbar/_student_navbar.ejs') %>
    </header>

    <%- include('./partials/_intro_section.ejs') %>
</body>

</html>