.login-sections {
    display: flex;
    justify-content: space-between;
    margin: 1.7rem 5rem;
}
.login-left img {
    width: 560px;
}
.login-right {
    padding: 2.5rem;
}
.login-form form h2 {
    font-size: 25px;
    font-family: var(--fancy-font);
}
.login-form form label,
.login-form form input {
    display: block;
    margin: 9px 0px;
}
.login-form form input {
    width: 17rem;
    height: 2.2rem;
    font-size: 16px;
    padding: 4px;
}
.login-form form input:focus {
    outline: none;
}
.login-form form button {
    display: block;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.7rem 3rem;
    font-size: 15px;
    font-family: var(--fancy-font);
    font-weight: 500;
}
@media screen and (max-width: 1024px) {
    .login-form form {
        display: block;
    }
    .login-left img {
        width: 400px;
    }
}
@media screen and (max-width: 768px) {
    .login-sections {
        display: block;
        margin: 5px;
    }
    .login-left img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 230px;
    }
}
