* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria;
}
.lol {
    border: 1px solid black;
    height: 100px;
    position: relative;
    background-color: black;
}
.lol h1 {
    text-align: center;
    margin-top: 25px;
    color: white;
}
.btech,
.mtech,
.mca {
    position: relative;
    margin: 8px 8%;
    display: flex;
}
.btech div,
.mtech div,
.mca div {
    background-color: rgb(240, 245, 245);

    border: 0px solid black;
    border-radius: 10px;
    margin: 4px;
    padding: 2rem 1.6rem;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 1s;
}
.btech div:hover,
.mtech div:hover,
.mca div:hover {
    flex: 1.6;
    background-color: white;
    color: peru;
}

@media screen and (max-width: 768px) {
    .btech,
    .mtech,
    .mca {
        flex-direction: column;
    }
}
